@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary-color: #fffcfb;
  --background-color: #069783;
}

body {
  background-color: var(--background-color);
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: rgb(19, 19, 19);
}
.container-sidebar {
  position: fixed;
  inset: 0;
  width: 15rem;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

main {
  width: 100%;
  height: 100dvh;
  /* background-color: aqua; */
  padding: 0 1rem 0 16rem;
  overflow: auto;
}

main::-webkit-scrollbar {
  display: none;
}

main section {
  width: 100%;
  height: 100%;
  /* background-color: blueviolet !important; */
}

.hjgy {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.btn-submit {
  width: 100%;
  /* justify-content: center; */
  place-items: center;
  padding: 1rem;
}

.hapus-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  background-color: rgb(189, 11, 11);
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}

.hapus-btn span:first-child {
  display: inline-flex;
  margin: auto;
  height: 2rem;
  aspect-ratio: 1/1;
  /* background-color: aqua; */
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../asset/icon/delete.svg);
}

.hapus-btn span:last-child {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.8em;
}

.tambah-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  background-color: rgb(11, 47, 189);
  padding: 0.2rem;
  border-radius: 3px;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  cursor: pointer;
}
.tambah-btn span:first-child {
  height: 2rem;
  aspect-ratio: 1/1;
  /* background-color: aqua; */
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../asset/icon/add.svg);
}

.tambah-btn span:last-child {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1em;
}

.halaman-active {
  background-color: var(--background-color);
}
.halaman-active a {
  color: var(--primary-color) !important;
}

.update-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  background-color: rgb(11, 47, 189);
  padding: 0.2rem;
  border-radius: 3px;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  cursor: pointer;
}
.update-btn span:first-child {
  display: inline-flex;
  margin: auto;
  height: 2rem;
  aspect-ratio: 1/1;
  /* background-color: aqua; */
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../asset/icon/edit.svg);
}

.update-btn span:last-child {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.8em;
}

.sdefcd a {
  background-color: rgb(149, 11, 11) !important;
  color: rgb(202, 202, 202) !important;
}
