.edit {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 0 5rem;
  width: max-content;
  margin: auto;
}

.edit div input {
  padding: 1rem;
}

.edit div button {
  display: flex;
  align-items: center;
  background-color: rgb(0, 43, 198);
  padding: 0.2rem 1rem;
  gap: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.edit div button span:first-child {
  height: 2rem;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url(../../asset/icon/save.svg);
  /* background-color: blue; */
}
.edit div button span:last-child {
  color: var(--background-color);
  font-weight: bold;
}
