main {
  /* padding: 3rem 0; */
  height: 60rem;
}

main h1 {
  margin-top: 4rem;
  color: var(--primary-color);
}

.hbgskn {
  padding: 0.3rem 1rem;
  background-color: var(--primary-color);
  width: max-content;
  margin-top: 4rem;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-pembeli {
  /* background-color: blue; */
  display: flex;

  flex-direction: column;
  gap: 1rem;
}

.form-pembeli section {
  display: flex;
  width: 100%;
  /* background-color: brown; */
  align-items: center;
  gap: 1rem;
}

.form-pembeli section div {
  width: 100%;
}
.form-pembeli section div:nth-child(1) {
  width: 100%;
  height: 100%;
  padding: 0 0.2rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-pembeli section div label {
  font-weight: 800;
  color: var(--background-color);
}

.form-pembeli section div:nth-child(2) input {
  width: 100%;
  padding: 0.6rem 0.3rem;
  outline: none;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 800;
  color: var(--background-color);
}

.form-pembeli section div:nth-child(2) input:focus {
  outline: none;
}
.form-pembeli section div:nth-child(2) input:active {
  outline: none;
}

.con-pembeli-submit input {
  background-color: var(--primary-color);
  height: 3rem !important;
  /* background-color: black; */
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  color: var(--background-color);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
